<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="{{ url_for('add_manager') }}" method="POST">
    <label for="first_name">first name</label>
    <input type="text" id="first_name" name="first_name">
    <label for="last_name">last name</label>
    <input type="text" id="last_name" name="last_name">
    <label for="phone_number">phone</label>
    <input type="text" id="phone_number" name="phone_number">
    <label for="email">email</label>
    <input type="text" id="email" name="email">
    <label for="password">password</label>
    <input type="text" id="password" name="password">
    <input type="submit" value="Add Manager">
</form>
</body>
</html>