<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Menu Item</title>
</head>
<body>
    
    <!-- <form action="{{ url_for('edit_menu_item') }}" method='POST'> -->
    <form action="" method='POST'>
        <label for="fname">name</label>
        <input type="text" id="name" name="name" placeholder="{{ data['name'] }}">
        <label for="price">price</label>
        <input type="text" id="price" name="price" placeholder="{{ data['price'] }}">
        <label for="discount">discount</label>
        <input type="text" id="discount" name="discount" placeholder="{{ data['discount'] }}">
        <input type="submit" value="Edit Item">
    </form>

</body>
</html>