<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="">
    <label for="first_name"></label>
    <input type="text" id="first_name">
    <label for="last_name"></label>
    <input type="text" id="last_name">
    <label for="phone_number"></label>
    <input type="text" id="phone_number">
    <label for="email"></label>
    <input type="text" id="email">
    <label for="password"></label>
    <input type="text" id="password">
    <input type="submit">
</form>
</body>
</html>