<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/billboard.js/dist/billboard.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/billboard.js/dist/billboard.min.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.1/Chart.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  
    <title>my dashboard</title>

    <style>
        body {
            background-color: #cfd6e0;
        }

        nav{
            background-color: #6351ce;
        }

        .nav-opt{
          color: white!important;
        }
        .nav-opt:hover{
            color: aqua!important;
        }

        .gradient-custom {
        /* fallback for old browsers */
        background: #f6d365;

        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right bottom, #6351ce, rgb(135, 101, 246));

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right bottom, #6351ce, rgb(135, 101, 246))
      }
    </style>

</head>
<body>
  {% block body %}
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><b>Dashboard</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-opt nav-link" href="#">Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-opt nav-link" href="{{ url_for('add_menu_item') }}">Menu Items</a>
          </li>
          <li class="nav-item">
            <a class="nav-opt nav-link" href="#">Tables</a>
          </li>
          <li class="nav-item">
            <a class="nav-opt nav-link" href="#">Reciepts</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<div class="container-fluid">
<div class="row">
  <div class="left-side col-8">
    <div class="container">
      <section class="h-100">
        <div class="container mt-5 py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-6 mb-4 mb-lg-0">
              <div class="card mb-3" style="border-radius: .5rem;">
                <div class="row g-0">
                  <div class="col-md-4 gradient-custom text-center text-white" style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                    <img
                      src="https://media-exp1.licdn.com/dms/image/C4D03AQESizt9A4lxPQ/profile-displayphoto-shrink_400_400/0/1631842050436?e=1646870400&v=beta&t=PePu9sKgjWob-PihrTPeCrNNRav6oNvMLw5DoMSQeyI"
                      alt="Avatar"
                      class="img-fluid"
                      style="width: 80px; border-radius: .5rem;"
                    />
                    <h5>Pourya Mansouri</h5>
                    <p>Cashier</p>
                    <i class="far fa-edit mb-5"></i>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body p-4">
                      <h6>Information</h6>
                      <hr class="mt-0 mb-4">
                      <div class="row pt-1">
                        <div class="col-6 mb-3">
                          <h6>Web</h6>
                          <p class="text-muted">pouryamansouri.com</p>
                        </div>
                        <div class="col-6 mb-3">
                          <h6>Phone</h6>
                          <p class="text-muted">021-91090933</p>
                        </div>
                      </div>
                      <h6>Status</h6>
                      <hr class="mt-0 mb-4">
                      <div class="row pt-1">
                        <div class="col-6 mb-3">
                          <h6>working</h6>
                          <p class="text-muted">Full time!</p>
                        </div>
                        <div class="col-6 mb-3">
                          <h6>Level</h6>
                          <p class="text-muted">Senior</p>
                        </div>
                      </div>
                      <div class="d-flex justify-content-start">
                        <a href="{{ url_for('index') }}" class="btn btn-danger">Logout</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="right-side col-4">
    <!-- <div class="col-xs-6 "> -->
    <div><h2 class="text-center mt-4">Today's status!</h2></div>
    <div class="row">
    <div><div id="category"></div></div>
    <div><div id="menu_item"></div></div>
    </div>
  </div> 
 </div>
</div>

<div class="m-1">


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>
    var chart = bb.generate({
      data: {
        columns: [
          ["Breakfast", 2],
          ["Launch", 4],
          ["Dinner", 3],
        ],
        type: "donut",
        onclick: function (d, i) {
          console.log("onclick", d, i);
        },
        onover: function (d, i) {
          console.log("onover", d, i);
        },
        onout: function (d, i) {
          console.log("onout", d, i);
        },
      },
      donut: {
        title: "Categories",
      },
      bindto: "#category",
    });


    var chart = bb.generate({
      data: {
        columns: [
          ["Foods", 4],
          ["Cold drinks", 1],
          ["Hot drinks", 2],
        ],
        type: "donut",
        onclick: function (d, i) {
          console.log("onclick", d, i);
        },
        onover: function (d, i) {
          console.log("onover", d, i);
        },
        onout: function (d, i) {
          console.log("onout", d, i);
        },
      },
      donut: {
        title: "Menu Items",
      },
      bindto: "#menu_item",
    });
  </script>

{% include 'layout/__footer_manager.html' %}

{% endblock %}
<script>
  $("")

</script>

</body>
</html>