<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/billboard.js/dist/billboard.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/billboard.js/dist/billboard.min.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.1/Chart.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  
    <title>my dashboard</title>

    <style>
        body {
            background-color: #cfd6e0;
        }

        nav{
            background-color: #6351ce;
        }

        .nav-opt{
          color: white!important;
        }
        .nav-opt:hover{
            color: aqua!important;
        }

        .gradient-custom {
        /* fallback for old browsers */
        background: #f6d365;

        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right bottom, #6351ce, rgb(135, 101, 246));

        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right bottom, #6351ce, rgb(135, 101, 246))
      }
    </style>

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><b>Dashboard</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-opt nav-link" href="#">Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-opt nav-link" href="{{ url_for('add_menu_item') }}">Menu Items</a>
          </li>
          <li class="nav-item">
            <a class="nav-opt nav-link" href="#">Tables</a>
          </li>
          <li class="nav-item">
            <a class="nav-opt nav-link" href="#">Reciepts</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<div class="container-fluid">
<div class="row">
  <div class="left-side col-8">
    <div class="container">
      <section class="h-100">
        <div class="container mt-5 py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-6 mb-4 mb-lg-0">
              <div class="card mb-3" style="border-radius: .5rem;">
                <div class="row g-0">
                  <div class="col-md-4 gradient-custom text-center text-white" style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                    <img
                      src="https://media-exp1.licdn.com/dms/image/C4D03AQESizt9A4lxPQ/profile-displayphoto-shrink_400_400/0/1631842050436?e=1646870400&v=beta&t=PePu9sKgjWob-PihrTPeCrNNRav6oNvMLw5DoMSQeyI"
                      alt="Avatar"
                      class="img-fluid"
                      style="width: 80px; border-radius: .5rem;"
                    />
                    <h5>Pourya Mansouri</h5>
                    <p>Cashier</p>
                    <i class="far fa-edit mb-5"></i>
                  </div>
                  <div class="col-md-8">
                    <div class="card-body p-4">
                      <h6>Information</h6>
                      <hr class="mt-0 mb-4">
                      <div class="row pt-1">
                        <div class="col-6 mb-3">
                          <h6>Web</h6>
                          <p class="text-muted">pouryamansouri.com</p>
                        </div>
                        <div class="col-6 mb-3">
                          <h6>Phone</h6>
                          <p class="text-muted">021-91090933</p>
                        </div>
                      </div>
                      <h6>Status</h6>
                      <hr class="mt-0 mb-4">
                      <div class="row pt-1">
                        <div class="col-6 mb-3">
                          <h6>working</h6>
                          <p class="text-muted">Full time!</p>
                        </div>
                        <div class="col-6 mb-3">
                          <h6>Level</h6>
                          <p class="text-muted">Senior</p>
                        </div>
                      </div>
                      <div class="d-flex justify-content-start">
                        <a href="{{ url_for('index') }}" class="btn btn-danger">Logout</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="right-side col-4">
    <!-- <div class="col-xs-6 "> -->
    <div><h2 class="text-center mt-4">Today's status!</h2></div>
    <div class="row">
    <div><div id="category"></div></div>
    <div><div id="menu_item"></div></div>
    </div>
  </div> 
 </div>
</div>
<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="m-1">

    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-white"
            style="background-color: #1c2331"
            >
      <!-- Section: Social media -->
      <section
               class="d-flex justify-content-between p-4"
               style="background-color: #6351ce"
               >
        <!-- Left -->
        <div class="me-5">
          <span>Get connected with us on social networks:</span>
        </div>
        <!-- Left -->
  
        <!-- Right -->
        <div>
          <a href="" class="text-white me-4">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-google"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <!-- Right -->
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-2">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold">My Cafe</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                Here you can use rows and columns to organize your footer
                content. Lorem ipsum dolor sit amet, consectetur adipisicing
                elit.
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Products</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                <a href="#!" class="text-white">Cakes</a>
              </p>
              <p>
                <a href="#!" class="text-white">Delicious foods</a>
              </p>
              <p>
                <a href="#!" class="text-white">Awesome drinks!</a>
              </p>
              <p>
                <a href="#!" class="text-white">Best coffees in the town</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Useful links</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p>
                <a href="#!" class="text-white">Your Account</a>
              </p>
              <p>
                <a href="#!" class="text-white">Become an Affiliate</a>
              </p>
              <p>
                <a href="#!" class="text-white">Shipping Rates</a>
              </p>
              <p>
                <a href="#!" class="text-white">Help</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Contact</h6>
              <hr
                  class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #7c4dff; height: 2px"
                  />
              <p><i class="fas fa-home mr-3"></i>Tehran, Azadi, MaktabSharif</p>
              <p><i class="fas fa-envelope mr-3"></i>Maktabsharif@gmail.com</p>
              <p><i class="fas fa-phone mr-3"></i> +989287461234</p>
              <p><i class="fas fa-print mr-3"></i> 02191090933</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
      <!-- Section: Links  -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        <p>Provided by: Maktab-Group-6</p>
        <a class="text-white" href="home.html">Back to home</a>
      </div>
    </footer>
    <!-- Footer -->
  </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>
    var chart = bb.generate({
      data: {
        columns: [
          ["Breakfast", 2],
          ["Launch", 4],
          ["Dinner", 3],
        ],
        type: "donut",
        onclick: function (d, i) {
          console.log("onclick", d, i);
        },
        onover: function (d, i) {
          console.log("onover", d, i);
        },
        onout: function (d, i) {
          console.log("onout", d, i);
        },
      },
      donut: {
        title: "Categories",
      },
      bindto: "#category",
    });


    var chart = bb.generate({
      data: {
        columns: [
          ["Foods", 4],
          ["Cold drinks", 1],
          ["Hot drinks", 2],
        ],
        type: "donut",
        onclick: function (d, i) {
          console.log("onclick", d, i);
        },
        onover: function (d, i) {
          console.log("onover", d, i);
        },
        onout: function (d, i) {
          console.log("onout", d, i);
        },
      },
      donut: {
        title: "Menu Items",
      },
      bindto: "#menu_item",
    });
  </script>


<script>
  $("")

</script>

</body>
</html>