<div class="container-fluid">
<div class="row">
        <div class="container-fluid mt-5  left-side col-12 col-md-8">
            <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-6 mb-4 mb-lg-0" style="width: 80%;">
                <div class="card mb-3" style="border-radius: .5rem;">
                <div class="row g-0">
                    <div class="col-md-4 gradient-custom text-center text-white" style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                    <img
                        src="https://cdn-icons.flaticon.com/png/512/1144/premium/1144709.png?token=exp=1642494162~hmac=472276a55585cd9d4f35dd4dfb3bc23c"
                        alt="Avatar"
                        class="img-fluid mt-2"
                        style="width: 100px; border-radius: .5rem;"/>
                    <h5>{{ data['first_name']}} {{data['last_name'] }}</h5>
                    <p>Cashier</p>
                    <i class="far fa-edit mb-5"></i>
                    </div>
                    <div class="col-md-8">
                    <div class="card-body p-4">
                        <h5>Information</h5>
                        <hr class="mt-0 mb-4">
                        <div class="row pt-1">
                        <div class="col-6 mb-3">
                            <h6>Email</h6>
                            <p class="text-muted">{{ data['email'] }}</p>
                        </div>
                        <div class="col-6 mb-3">
                            <h6>Phone</h6>
                            <p class="text-muted">{{ data['phone_number'] }}</p>
                        </div>
                        </div>
                        <h5>Status</h5>
                        <hr class="mt-0 mb-4">
                        <div class="row pt-1">
                        <div class="col-6 mb-3">
                            <h6>working</h6>
                            <p class="text-muted">Full time</p>
                        </div>
                        <div class="col-6 mb-3">
                            <h6>Quality</h6>
                            <p class="text-muted">Good</p>
                        </div>
                        </div>
                        <div class="d-flex justify-content-start">
                        <a href="{{ url_for('manager_login') }}" class="btn btn-danger">Logout</a>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>


    <div class="right-side col-12 col-md-4">
            <!-- <div class="col-xs-6 "> -->
            <div><h2 class="text-center mt-4">Sell status!</h2></div>
            <div class="row">
            <div class="col-6 col-md-12"><div id="category"></div></div>
            <div class="col-6 col-md-12"><div id="menu_item"></div></div>
        </div>
    </div> 
</div>
</div>

<div class="m-1">
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>
    var chart = bb.generate({
        data: {
        columns: [
            ["Breakfast", 2],
            ["Launch", 4],
            ["Dinner", 3],
        ],
        type: "donut",
        onclick: function (d, i) {
            console.log("onclick", d, i);
        },
        onover: function (d, i) {
            console.log("onover", d, i);
        },
        onout: function (d, i) {
            console.log("onout", d, i);
        },
        },
        donut: {
        title: "Categories",
        },
        bindto: "#category",
    });


    var chart = bb.generate({
        data: {
        columns: [
            ["pizza", 3],
            ["coffee", 4],
            ["Noon panir", 2],
            ["other", 1],
        ],
        type: "donut",
        onclick: function (d, i) {
            console.log("onclick", d, i);
        },
        onover: function (d, i) {
            console.log("onover", d, i);
        },
        onout: function (d, i) {
            console.log("onout", d, i);
        },
        onout: function (d, i) {
            console.log("onout", d, i);
        },
        },
        donut: {
        title: "Menu Items",
        },
        bindto: "#menu_item",
    });

    function reciept(recip_id){
        text = "http://127.0.0.1:5000/cashier/reciept/"+recip_id
         window.open(text, "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=500,left=500,width=400,height=400");
    }
    </script>