<div class="container-fluid">
<div class="row">
    <div class="left-side col-8">
    <div class="container">
        <section class="h-100">
        <div class="container mt-5 py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-6 mb-4 mb-lg-0">
                <div class="card mb-3" style="border-radius: .5rem;">
                <div class="row g-0">
                    <div class="col-md-4 gradient-custom text-center text-white" style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                    <img
                        src="https://media-exp1.licdn.com/dms/image/C4D03AQESizt9A4lxPQ/profile-displayphoto-shrink_400_400/0/1631842050436?e=1646870400&v=beta&t=PePu9sKgjWob-PihrTPeCrNNRav6oNvMLw5DoMSQeyI"
                        alt="Avatar"
                        class="img-fluid"
                        style="width: 80px; border-radius: .5rem;"
                    />
                    <h5>Pourya Mansouri</h5>
                    <p>Cashier</p>
                    <i class="far fa-edit mb-5"></i>
                    </div>
                    <div class="col-md-8">
                    <div class="card-body p-4">
                        <h6>Information</h6>
                        <hr class="mt-0 mb-4">
                        <div class="row pt-1">
                        <div class="col-6 mb-3">
                            <h6>Web</h6>
                            <p class="text-muted">pouryamansouri.com</p>
                        </div>
                        <div class="col-6 mb-3">
                            <h6>Phone</h6>
                            <p class="text-muted">021-91090933</p>
                        </div>
                        </div>
                        <h6>Status</h6>
                        <hr class="mt-0 mb-4">
                        <div class="row pt-1">
                        <div class="col-6 mb-3">
                            <h6>working</h6>
                            <p class="text-muted">Full time!</p>
                        </div>
                        <div class="col-6 mb-3">
                            <h6>Level</h6>
                            <p class="text-muted">Senior</p>
                        </div>
                        </div>
                        <div class="d-flex justify-content-start">
                        <a href="{{ url_for('index') }}" class="btn btn-danger">Logout</a>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </section>
    </div>
    </div>

    <div class="right-side col-4">
            <!-- <div class="col-xs-6 "> -->
            <div><h2 class="text-center mt-4">Today's status!</h2></div>
            <div class="row">
            <div><div id="category"></div></div>
            <div><div id="menu_item"></div></div>
        </div>
    </div> 
</div>
</div>

<div class="m-1">
    
    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>
    var chart = bb.generate({
        data: {
        columns: [
            ["Breakfast", 2],
            ["Launch", 4],
            ["Dinner", 3],
        ],
        type: "donut",
        onclick: function (d, i) {
            console.log("onclick", d, i);
        },
        onover: function (d, i) {
            console.log("onover", d, i);
        },
        onout: function (d, i) {
            console.log("onout", d, i);
        },
        },
        donut: {
        title: "Categories",
        },
        bindto: "#category",
    });


    var chart = bb.generate({
        data: {
        columns: [
            ["Foods", 4],
            ["Cold drinks", 1],
            ["Hot drinks", 2],
        ],
        type: "donut",
        onclick: function (d, i) {
            console.log("onclick", d, i);
        },
        onover: function (d, i) {
            console.log("onover", d, i);
        },
        onout: function (d, i) {
            console.log("onout", d, i);
        },
        },
        donut: {
        title: "Menu Items",
        },
        bindto: "#menu_item",
    });
    </script>