<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'layout/__stylesheet_manager.html' %}
    <title>invalid input or request</title>
    <style>
        body{
            background-image: url("https://wallpapershome.com/images/wallpapers/food-1920x1080-still-life-vegetables-bread-12115.jpg");
        }
    </style>
</head>
<body>
    <div style="padding-top: 400px;">
        <div class="text-center m-2"><h1>There is no response for this request!</h1><h2>Plaese try again..</h2></div>
        <div class="text-center m-2"><a role="button" class="btn btn-primary m-2" href="{{ url_for('index') }}">Back to home!</a></div>
    </div>
</body>
</html>