<div class="container-fluid justify-content-center pb-5 px-5" id="contact-us" style="background-color: #e79374;">
    <div class="row" style="height: 56px;"></div>
    <div class="row justify-content-center">
        <h1 class="mt-4 mb-2 w-auto" style="font-size: 60px; border: 0.5rem solid;">Contact Us</h1>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col-md-7 col-12 pb-5">
            <div class="row justify-content-center">
                <form style="width: 90%;">
                    <div class="form-group">
                        <label for="contact-name">Name</label>
                        <input type="text" class="form-control" id="contact-name" placeholder="name" name="name">
                    </div>
                    <div class="form-group">
                        <label for="contact-text">Please tell us anything you want:</label>
                        <textarea type="text" class="form-control" id="contact-text" placeholder="Hi! What's up?"
                                  name="textarea" rows='5' maxlength="250"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="form-check-label" for="email">Email:</label>
                        <input type="text" class="form-control" id="contact-email" name="email" placeholder="Enter your email">
                    </div>
                    <div class="btn btn-primary mt-2 align-left" onclick="sendComment(this)">Submit</div>
                </form>
            </div>
        </div>
        <div class="col-md-5 col-12">
            <div class="row text-center">
                <div class="px-1">
                    <b>Address:</b>
                    <p>Maktab Sharif Bootcamp, Tehran, Tehran Province, Iran</p>
                    <b>Tel:</b>
                    <p>021-91090933</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="map-outer">
                    <div class="google-map-canvas row justify-content-center">
                        <iframe width="250" height="250" id="google-map-canvas"
                                src="https://maps.google.com/maps?q=Iran,%20tehran,%20maktab%20sharif&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                style="padding-right: 25px;"></iframe>
                        <a href="https://www.whatismyip-address.com"></a><br>
                        <style>
                            .map-outer {
                                position: relative;
                                text-align: right;
                                height: 325px;
                                width: 325px;
                            }
                        </style>
                        <style>
                            .google-map-canvas {
                                overflow: hidden;
                                background: none !important;
                                height: 325px;
                                width: 325px;
                            }
                        </style>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>