<div class="container-fluid fixed-top" style="background-color: #ffe5c9;">
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-light">
            <a href="#" class="navbar-brand">Cafe Group 6</a>
            <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#toggleMobileMenu"
                    aria-controls="toggleMobileMenu"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="toggleMobileMenu">
                <ul class="navbar-nav text-center">
                    <li>
                        <a class="nav-link btn btn-navbar mx-2" href="#home">Home</a>
                    </li>
                    <li>
                        <a class="nav-link btn btn-navbar mx-2" href="#about">About</a>
                    </li>
                    <li>
                        <a class="nav-link btn btn-navbar mx-2" href="#menu">Menu</a>
                    </li>
                    <li>
                        <a class="nav-link btn btn-navbar mx-2" href="#contact-us">Contact Us</a>
                    </li>
                </ul>
                <a class="nav-link btn btn-cashier" target="_blank" style="color: black !important;" href="{{ url_for('manager_login') }}">Cashier</a>
            </div>

        </nav>
    </div>
</div>