<div class="container-fluid">
    <div class="row bg-light fixed-top bg-transparent px-4 pt-3 justify-content-center">
        <a href="#home" class="col-1 btn btn-outline-warning mx-1 w-auto">Home</a>
        <a href="#about" class="col-1 btn btn-outline-warning mx-1 w-auto">About</a>
        <a href="#contact-us" class="col-1 btn btn-outline-warning mx-1 w-auto">Contact Us</a>
        <a href="#menu" class="col-1 btn btn-outline-warning mx-1 w-auto">Menu</a>
        <a href="#" class="col-1 btn btn-outline-warning mx-5 w-auto">Cashier</a>
    </div>
</div>