<div class="btn btn-order position-fixed rounded-pill" style="color: black; height: 70px; width:70px; left: 20px; bottom: 65px; border:2px solid brown;"
     data-bs-toggle="modal" data-bs-target="#orderModal">
    <div class="row justify-content-center align-items-center h-100">
        <img src="https://icons.iconarchive.com/icons/icons8/windows-8/512/Finance-Purchase-Order-icon.png" alt="Order">
    </div>
</div>

<div class="modal fade" id="orderModal" tabindex="-1" aria-labelledby="orderModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="orderModalLabel">Orders</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Accept and Order</button>
            </div>
        </div>
    </div>
</div>