<!-- Button trigger modal -->
{#<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">#}
{#    Launch static backdrop modal#}
{#</button>#}
<div class="btn btn-order position-fixed rounded-pill"
     style="color: black; height: 70px; width:70px; right: 20px; bottom: 8vh; border:2px solid brown;"
     data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    <div class="row justify-content-center align-items-center h-100">
        <img src="https://www.pngrepo.com/png/145734/180/simple-table.png" alt="table">
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div>